*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

.container{
    width: 80%;
    max-width: 1000px;
    /* debug */
    /* background-color: aqua; */
    /* border: 1px solid red; */
}

.tasto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 15px;
}


section{
    padding: 50px 0 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    /* background-color: aquamarine; */
}





article{
    padding: 20px ;
    /* i px sono i gaps */

    border-radius: 20px;

    text-align: center;
    
}

.centro{
    display: flex;
    justify-content: center;

}

.bottom{
    align-items: flex-end;
}

/* HEADER////////////////////////////////////////////////////////////////////////////// */

header{

    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: #0084fd;

}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}
header ul{
    display: flex;
    height: 100%;

    
    /* debug */
    /* background-color: rgb(0, 255, 204); */

}
header li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    min-width: 65px;
    


    margin-left: 20px;
    /* debug */
    /* background-color: rgb(174, 0, 255); */

}
header a {
    color: white;
}


/* section 1 
  ///////////////////////////////////////////////////////////////////*/
#s1{
    margin-top: 75px;
    
}

#s1 .container{
    
    display: flex;
    
    flex-wrap: wrap;

    gap: 20px;

}

#s1 article{
    height: 270px;
    width: calc((100% - 2 * 20px) / 3);
    

    background-color: #b5ddff;

}


#s1 .doppio{
    width: calc(((100% - 2 * 20px) / 3) * 2 + 20px);
    padding-bottom: 0;
    text-align: left;
    display: flex;

}

#s1 .doppio > *{
    width: 50%;
}




#s1 article h3{
    margin-bottom: 20px;
    color: #0084fd;
}
#s1 article p{
    line-height: 25px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #5a6e7f;
}
#s1 article .tasto{
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
}


#s1 .tasto i{
    font-size: 20px;
    margin-right: 10px;
}


#s1 .semplice i{
    font-size: 50px;
    margin-bottom: 20px;
    color: #0084fd;
    
}


#phone{
    height: 90%;
    width:  auto;


}



/* section 2 
///////////////////////////////////////////////////////////////////*/
#s2{
    
    background-color: #9792e4;
}



#s2 .container {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;

    
}


#s2 .container > *{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    
    /* DEBUG */
    /* border: 2px solid green; */
}



#strategic-img{
    width: 90%;
    height: auto;
    
}

#strategic{
    color: white;
}


#strategic h3{
    
    margin: 50px 0;

}

#s2 article{
    
    border-radius: 50px;
    width: 70%;
    
    
    background-color: white;
}

#development-img{
    
    width: 60%;
    height: auto;


    background-color: white;
}


#s2 article h3{
    margin: 20px 0;
}



#s2 p, #s2 em {
    
    line-height: 25px;
    font-size: 12px;


}


#s2 article .tasto{
    margin: 30px 0 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #9792e4;

}



/* section 3 
///////////////////////////////////////////////////////////////////*/
#s3 .container{
    text-align: center;

    
}



#s3 p{
    font-size: 16px;

    
}



#s3 h3{
    color: #9792e4;
    font-size: 35px;

    margin: 20px 0;

    
}

#s3 article{
    width: 100%;
    margin-top: 20px;
    background-color: #9792e4;

    display:flex;
}


.img-testimonial{
    height: 150px;
    width: 150px;
    object-fit: cover;

    border-radius: 175px;

    

    
}

.cit{
    display: flex;
    flex-wrap: wrap;

    padding: 20px;
    color: white;

    
}

.cit p{
    line-height: 20px;
    width: 100%;
    text-align: left;
}






/* section 4 
///////////////////////////////////////////////////////////////////*/
#s4{
    
    background-color: #9792e4;
}

#s4 .container > div{
    
    display: flex;
    justify-content: left;
    
    flex-wrap: wrap;

    gap: 20px;

}


#s4 .container > h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    color:  white;

}


#s4 article{
    /* height: 270px; */
    width: calc((100% - 2 * 20px) / 3);
    
    background-color: white;
}


#s4 article h2{
    text-align: left;
    font-size: 60px;
    color:  #9792e4;

}

#s4 article h3 {
    text-align: left;
    margin: 20px 0;
    color:  #9792e4;

}





#s4 p {
    text-align: left;
    line-height: 20px;
    color: #9a9a9a;
    

}





#s4 .tasto {

    width: 100px;
    margin-top: 20px;
    color: white;
    background-color:   #9792e4;
}










/* section 5 
///////////////////////////////////////////////////////////////////*/



#s5 h2{
    
    font-size: 60px;
    margin: 20px 0;
    color:  #9792e4;

}

#colonna{
    width: 70%;
}


#s5 p{
    
    
    line-height: 30px;
    
    

}